.auto-margin {
  max-width: 1400px;
  margin: 6em auto 3em auto;
}

.main {
  display: flex;
  /* margin: 0 10rem;
  padding: 5em; */
}

.col-lg-12 + .col-lg-12 {
  margin-top: 2em;
}

nav > .items {
  margin: 0 14rem;
}

.side-left {
  flex: 1;
}

.side-right {
  flex: 5;
}

.side-left > ul {
  list-style: none;
}

.side-left input[type=checkbox] {
  margin-right: 0.3em;
}

.image {
  max-width: 20rem;
  object-fit: cover;
  margin-right: 2em;
}

.star {
  margin-top: 0;
  margin-bottom: 1em;
}

.star-icon {
  font-size: 1.1rem;
  margin-left: 0.2em;
  transform: translateY(0.1em);
}

.card-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: darkblue;
}